<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Lab: Exploring the Dataset**

Estimated time needed: **30** minutes

## Introduction

Data exploration is the initial phase of data analysis where we aim to understand the data's characteristics, identify patterns, and uncover potential insights. It is a crucial step that helps us make informed decisions about subsequent analysis.

## Objectives

After completing this lab, you will be able to:

-   Summarize the key characteristics of a dataset.
-   Identify different data types commonly used in data analysis.

### Install the required library

In [1]:
import micropip

await micropip.install('pandas')

# Import pandas after installation
import pandas as pd
print(pd.__version__)

<ipython-input-1-4a848102c67d>:6: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

2.2.0

## Load the dataset

<h3>Read Data</h3>
<p>
We utilize the <code>pandas.read_csv()</code> function for reading CSV files. However, in this version of the lab, which operates on JupyterLite, the dataset needs to be downloaded to the interface using the provided code below.
</p>

The functions below will download the dataset into your browser:

In [1]:
from pyodide.http import pyfetch

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

In [2]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"

To obtain the dataset, utilize the download() function as defined above:

In [ ]:
await download(file_path, "survey_data.csv")
file_name="survey_data.csv"

Utilize the Pandas method read_csv() to load the data into a dataframe.

In [ ]:
df = pd.read_csv(file_name)

> Note: This version of the lab is working on JupyterLite, which requires the dataset to be downloaded to the interface.While working on the downloaded version of this notebook on their local machines(Jupyter Anaconda), the learners can simply **skip the steps above,** and simply use the URL directly in the `pandas.read_csv()` function. You can uncomment and run the statements in the cell below.

# Hands on Lab

## Explore the dataset

It is a good idea to print the top 5 rows of the dataset to get a feel of how the dataset will look.

Display the top 5 rows and columns from your dataset.

In [2]:
import requests
import pandas as pd
import io  # Import the io module

# --- Download the dataset (using requests) ---
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"

try:
    response = requests.get(file_path)
    response.raise_for_status()  # Raise an exception for bad status codes
    # Use io.StringIO to create a file-like object from the response text
    csv_data = io.StringIO(response.text)
    df = pd.read_csv(csv_data)

except requests.exceptions.RequestException as e:
    print(f"Error downloading or reading the file: {e}")
    exit()

# --- Print the datatype of all columns ---
print("Data types of all columns:\n", df.dtypes)

# --- Print the number of rows ---
print(f"\nNumber of rows in the DataFrame: {len(df)}")  # or df.shape[0]

# --- Print the mean age of the survey participants ---
# Handle potential errors (e.g., non-numeric data in 'Age' column)
try:
    # Attempt to convert 'Age' to numeric, handling errors
    # This is a SIMPLIFIED example and may need adjustment
    # based on the specific values in your 'Age' column.
    age_mapping = {
        'Under 18 years old': 16,  # Example mapping
        '18-24 years old': 21,
        '25-34 years old': 29.5,
        '35-44 years old': 39.5,
        '45-54 years old': 49.5,
        '55-64 years old': 59.5,
        '65 years or older': 70,  # Example mapping
        'Prefer not to say': None  # Handle "Prefer not to say"
    }
    df['Age_Numeric'] = df['Age'].map(age_mapping)
    mean_age = df['Age_Numeric'].mean()
    print(f"\nMean age of participants: {mean_age:.2f}")  # Format to 2 decimal places

except KeyError:
    print("\nError: 'Age' column not found in the DataFrame.")
except TypeError as e:
    print(f"\nError calculating mean age: {e}")
    print("The 'Age' column likely contains non-numeric data.")

# --- Print the number of unique countries ---
# Handle potential errors (e.g., 'Country' column not existing)
try:
    unique_countries = df['Country'].nunique()
    print(f"\nNumber of unique countries: {unique_countries}")
except KeyError:
    print("\nError: 'Country' column not found in the DataFrame.")

# --- Show first 5 rows
print("\nFirst 5 rows of the DataFrame:")
print(df.head())

Data types of all columns:
 ResponseId               int64
MainBranch              object
Age                     object
Employment              object
RemoteWork              object
                        ...
JobSatPoints_11        float64
SurveyLength            object
SurveyEase              object
ConvertedCompYearly    float64
JobSat                 float64
Length: 114, dtype: object

Number of rows in the DataFrame: 65437

Mean age of participants: 33.01

Number of unique countries: 185

First 5 rows of the DataFrame:
   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1     Bachelorâs degree (B.A., B.S., B.Eng., etc.)
2  Masterâs degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_7  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_8 JobSatPoints_9 JobSatPoints_10 JobSatPoints_11  \
0            NaN            NaN             NaN             NaN
1            0.0            0.0             0.0             0.0
2            NaN            NaN             NaN             NaN
3            NaN            NaN             NaN             NaN
4            NaN            NaN             NaN             NaN

            SurveyLength SurveyEase ConvertedCompYearly JobSat Age_Numeric
0                    NaN        NaN                 NaN    NaN        16.0
1                    NaN        NaN                 NaN    NaN        39.5
2  Appropriate in length       Easy                 NaN    NaN        49.5
3               Too long       Easy                 NaN    NaN        21.0
4              Too short       Easy                 NaN    NaN        21.0

[5 rows x 115 columns]

## Find out the number of rows and columns

Start by exploring the numbers of rows and columns of data in the dataset.

Print the number of rows in the dataset.

In [ ]:
## Write your code here

Print the number of columns in the dataset.

In [ ]:
## Write your code here

## Identify the data types of each column

Explore the dataset and identify the data types of each column.

Print the datatype of all columns.

In [ ]:
## Write your code here

Print the mean age of the survey participants.

In [ ]:
## Write your code here

The dataset is the result of a world wide survey. Print how many unique countries are there in the Country column.

In [ ]:
## Write your code here

Copyright ©  IBM Corporation. All rights reserved.